<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>
      <strong>Airline:</strong>
      <%= flight.airline %>
    </div>
    <div>
      <strong>Airport:</strong>
      <%= flight.airport %>
    </div>
    <div>
      <strong>Flight Number:</strong>
      <%= flight.flightNo %>
    </div>
    <div>
      <strong>Departs Date & Time:</strong>
      <%= flight.departs %>
    </div>
    <div>
      <a href="/flights/<%= flight._id %>/edit">
        <button>Edit Flight</button>
      </a>
    </div>
  </section>
  <section>
    <form
      id="ticket-form"
      action="/flights/<%= flight._id%>/tickets"
      method="POST"
    >
      <strong>Add a Ticket:</strong>
      <div>
        <label for="seat">Seat</label>
        <input name="seat" required pattern="[A-F][1-9]\d?" />
        <label for="price-input">price</label>
        <input type="text" name="price" id="price-input" />
        <button type="submit">Add Ticket</button>
      </div>
    </form>
    <strong>Ticket Details:</strong>
    <% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket) { %>
        <tr>
          <td><%= ticket.createdAt.toLocaleDateString() %></td>
          <td><%= ticket.seat %></td>
          <td><%= ticket.price %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <h3>No tickets Yet</h3>
    <% } %>
  </section>

  <section>
    <strong>Add a Meal:</strong>
    <form id="add-per-to-meal" action="???" method="POST">
      <select name="mealId">
        <% meals.forEach(meal=> { %>
        <option value="<%= meal._id %>"><%= meal.name %></option>
        <% }) %>
      </select>
      <button type="submit">Add Meal</button>
    </form>
    <strong>Meal Details:</strong>
    <% if (flight.meals.length) { %>
    <ul>
      <% flight.meals.forEach(meal=> { %>
      <li><%= meal.name %></li>
      <% }) %>
    </ul>
    <% } else { %>
    <h3>No Meals Yet</h3>
    <% } %>
  </section>
</main>

<%- include('../partials/footer') %>
